

<div class="inkindonations-selector">
    <div id="selector-row">
        
        <fieldset>Categories: 
        <select class="selectpicker" data-live-search="true" searchLogiciel="true" [(ngModel)]= "searchLogiciel" style="width: 250px; height: 40px;" >
            <option data-tokens="ketchup base">base</option>
            <option data-tokens="mustard">education</option>
            <option data-tokens="frosting">email</option>
          </select>
        
        </fieldset>
          
        
        <fieldset> sous Categories: 
            <select class="selectpicker" data-live-search="true" searchLogiciel="true" [(ngModel)]= "searchLogiciel" style="width: 300px; height: 40px;" >
                <option selected>  vvv</option>
                <option data-tokens="ketchup base">base</option>
                <option data-tokens="mustard">education</option>
                <option data-tokens="frosting">email</option>
              </select>
            
            </fieldset>
              
        
      


      <div class="form-outline mb-4">
        <input type="search" class="form-control" id="datatable-search-input" name= "search" [(ngModel)]= "searchLogiciel" placeholder="Recherche logiciels.."style="width: 400px; margin-top: 25px; " >
        
      </div>
      




    </div>
  </div>
<div class="cont">
    <div class="logic-list">
        <div class="logic flex" *ngFor="let logiciel of logiciells | filter:searchLogiciel">
            <!-- Offcanvas Sidebar -->
            <div class="logiciel-img  aic">
                <img [src]="logiciel?.imagelog" [alt]=" " height="40" width="200">
            </div>

            <div class="logiciel-detail">
                <div class="logiciel-name ">
                    <h3>{{logiciel?.libelleLog}}</h3>
                </div>
                <div class="logiciel-description">
                    <h5>{{logiciel?.descriptionLog}}</h5>
                </div>

                <div class="logiciel-version">
                    <h5>{{logiciel?.versionlog}}</h5>
                </div>
                <div class="logiciel-editeur">
                    <h5>{{logiciel?.editeurlog}}</h5>
                </div>

                <div class="categorie">
                {{logiciel?.type}}
                </div>



                <button class="btnn btn btn-succes" style="align-items:center;"><a [href]="logiciel?.communauteUrlLog"
                        target="_blank"><i class="bi bi-download"> TELECHARGER</i></a></button>

            </div>
        </div>

    </div>



    <div class="row">
        <div class="col md-12 d-flex justify-content-center">
            

            <div class="btn-group flot-right">
                <button class="btn btn-outline-primary " *ngFor="let page of PageNumbers" (click)=" changePage(page)" [class.Active] = "page == selectedpage">{{page}}</button>
               

            </div>

        </div>



    </div>
</div>