<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter un logiciel" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="multipleObjects" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['libelle','description', 'isActif', 'logoUrl','categorie', 'editeur', 'groupeThematique',]" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedLogiciels" selectionMode="multiple" [rowHover]="true" dataKey="id">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestion des logiciels</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="libelle">Libellé<p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="description">Description<p-sortIcon field="prenom"></p-sortIcon></th>
                        <th pSortableColumn="isActif">Statut<p-sortIcon field="login"></p-sortIcon></th>
                        <th pSortableColumn="logoUrl">Logo<p-sortIcon field="isAdmin"></p-sortIcon></th>
                        <th pSortableColumn="categorie">Catégorie<p-sortIcon field="isActif"></p-sortIcon></th>
                        <th pSortableColumn="editeur">Editeur<p-sortIcon field="groupeThematiques"></p-sortIcon></th>
                        <!-- <th pSortableColumn="groupeThematique">Groupe thématique<p-sortIcon field="isAdmin"></p-sortIcon></th> -->
                        <th pSortableColumn="groupeThematique">Etat<p-sortIcon field="isAdmin"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-singleObject>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="singleObject"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Libellé</span>
                            {{ singleObject.libelle }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Description</span>
                            {{ singleObject.description }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Statut</span>
                            <span *ngIf="singleObject.isActif, else elseBlock" class="font-semibold bg-green-200 border-round px-2">Actif</span>
                            <ng-template #elseBlock class="font-semibold bg-red-200 border-round px-2">Inactif</ng-template>                            
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Logo</span>
                            <img src="{{ singleObject.logoUrl }}" alt="{{ singleObject.libelle }}" width="75em">
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Catégorie</span>
                            {{ singleObject.categorie?.libelle || '' }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Editeur</span>
                            {{ singleObject.editeur?.libelle || '' }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Etat</span>
                            <span class="font-semibold bg-blue-200 border-round px-2" *ngIf="singleObject.etat == 'NOUVEAU' ">{{ singleObject.etat }}</span>
                            <span class="font-semibold bg-green-200 border-round px-2" *ngIf="singleObject.etat =='ACCEPTER'">{{ singleObject.etat }}</span>
                            <span class="font-semibold bg-yellow-200 border-round px-2" *ngIf="singleObject.etat =='REJETER'">{{ singleObject.etat }}</span>
                            <span class="font-semibold bg-red-200 border-round px-2" *ngIf="singleObject.etat =='RETIRER'">{{ singleObject.etat }}</span>
                            
                        </td>
                        <td>
                            <div class="flex">
                                <button *ngIf="singleObject.etat == 'NOUVEAU' && singleObject.etat != 'REJETER'" pButton pRipple icon="pi pi-undo" pTooltip="Rejeter la proposition" class="p-button-rounded p-button-warning mr-2" (click)="rejeter(singleObject)"></button>
                                <button *ngIf="singleObject.etat == 'ACCEPTER' && singleObject.etat != 'RETIRER'" pButton pRipple icon="pi pi-times" pTooltip="Retirer le logiciel" class="p-button-rounded p-button-danger mr-2" (click)="retirer(singleObject)"></button>
                                <button *ngIf="singleObject.etat != 'ACCEPTER' && singleObject.etat != 'RETIRER'" pButton pRipple icon="pi pi-check" pTooltip="Accepter la proposition" class="p-button-rounded p-button-success mr-2" (click)="accepter(singleObject)"></button>
                                <button pButton pRipple icon="pi pi-comments" pTooltip="Commenter" class="p-button-rounded p-button-primary mr-2" (click)="openCommentaire(singleObject)"></button>
                                <button pButton pRipple icon="pi pi-eye" pTooltip="Voir les commenataires" class="p-button-rounded p-button-secondary mr-2" (click)="openCommentaireView(singleObject)"></button>
                                <button pButton pRipple icon="pi pi-pencil" pTooltip="Mettre à jour" class="p-button-rounded p-button-success mr-2" (click)="editSingleObject(singleObject)"></button>
                                <button pButton pRipple icon="pi pi-trash" pTooltip="Supprimer" class="p-button-rounded p-button-warning" (click)="deleteSingleObject(singleObject)"></button>
                                <!-- <p-splitButton label="Décision"  [model]="itemsDecision" styleClass="p-button-secondary p-button-rounded p-button-outlined ml-2"></p-splitButton> -->
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="flagSingleObjectDialog" [style]="{width: '550px'}" header="Editer Logiciel" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">


                <p-tabView>
                    <p-tabPanel header="Informations Logiciel">
                        <div class="field">
                            <label for="libelle">Libellé</label>
                            <input type="text" pInputText id="libelle" [(ngModel)]="singleObject.libelle" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !singleObject.libelle}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.libelle">Veuillez saisir le nom du logiciel.</small>
                        </div>
                        <div class="field">
                            <label for="categorie">Catégorie</label>
                            <p-dropdown [options]="categoriesList" [(ngModel)]="singleObject.categorie" placeholder="Veuillez définir la catégorie..." [editable]="true" optionLabel="libelle"></p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.categorie">Veuillez définir la catégorie du logiciel.</small>
                        </div>
                        <div class="field">
                            <label for="groupeThematique">Groupe Thématique</label>
                            <p-dropdown [options]="groupesThematiquesList" [(ngModel)]="singleObject.groupeThematique" placeholder="Veuillez définir le groupe thématique..." [editable]="true" optionLabel="libelle"></p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.groupeThematique">Veuillez définir la catégorie du logiciel.</small>
                        </div>
                        <div class="field">
                            <label for="editeur">Editeur</label>
                            <p-dropdown [options]="editeursList" [(ngModel)]="singleObject.editeur" placeholder="Veuillez définir l'éditeur..." [editable]="true" optionLabel="libelle"></p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.editeur">Veuillez définir la catégorie du logiciel.</small>
                        </div>
                        <!-- <div class="field">
                            <label for="lastVersion">Dernière version</label>
                                <div>
                                    <p-dropdown [options]="singleObject.versions" [(ngModel)]="singleObject.lastVersion" required placeholder="Veuillez définir la dernière version..." [editable]="true" optionLabel="libelle"></p-dropdown>
                                    <button pButton pRipple icon="pi pi-plus" class="p-button-info mr-2" (click)="openNew()"></button>
                                </div>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.lastVersion">Veuillez définir la catégorie du logiciel.</small>
                        </div> -->
                        <div class="field">
                            <label for="description">Description</label>
                            <textarea id="description" pInputTextarea [(ngModel)]="singleObject.description" rows="3" cols="20"></textarea>
                        </div>
                        <div class="field">
                            <label for="communauteUrl">Lien de la communauté</label>
                            <input type="text" pInputText id="communauteUrl" [(ngModel)]="singleObject.communauteUrl" autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !singleObject.communauteUrl}"/>
                        </div>
                        <div class="field">
                            <label for="isActif">Statut</label>
                            <p-inputSwitch [(ngModel)]="singleObject.isActif"></p-inputSwitch>
                        </div>
                        <div class="field">
                            <label for="isActif">Définir version</label>
                            <!-- <p-inputSwitch [(ngModel)]="flagSingleObjectNewVersion"></p-inputSwitch> -->
                            <p-toggleButton [(ngModel)]="flagSingleObjectNewVersion" onLabel="Oui" offLabel="Non"></p-toggleButton>
                        </div>
                        <div class="field">
                            <label for="logoUrl">Lien du logo</label>
                            <input type="text" pInputText id="logoUrl" [(ngModel)]="singleObject.logoUrl" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !singleObject.logoUrl}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.logoUrl">Veuillez fournir le logo du logiciel ou de l'éditeur.</small>
                        </div>
                        <div class="field">
                            <label for="telechargementUrl">Lien de téléchargement</label>
                            <input type="text" pInputText id="telechargementUrl" [(ngModel)]="singleObject.telechargementUrl" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !singleObject.telechargementUrl}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.telechargementUrl">Veuillez fournir une URL de téléchargement fiable du logiciel.</small>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel [disabled]="flagSingleObjectNewVersion"  header="Informations Version">
                        <div class="field">
                            <label for="slibelle">Libellé</label>
                            <input type="text" pInputText id="libelle" [(ngModel)]="singleObject.lastVersion.libelle" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !singleObject.lastVersion.libelle}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.lastVersion.libelle">Veuillez saisir le libellé de la version.</small>
                        </div>
                        <div class="field">
                            <label for="datePublication">Date de publication</label>
                            <p-calendar [(ngModel)]="singleObject.lastVersion.datePublication"></p-calendar>
                        </div>
                        <div class="field">
                            <label for="licence">License</label>
                            <p-dropdown [options]="categoriesList" [(ngModel)]="singleObject.lastVersion.licence" placeholder="Veuillez définir la license..." [editable]="true" optionLabel="libelle"></p-dropdown>
                        </div>
                        <div class="field">
                            <label for="lien">Lien</label>
                            <input type="text" pInputText id="lien" [(ngModel)]="singleObject.lastVersion.lien" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !singleObject.lastVersion.lien}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.lastVersion.lien">Veuillez saisir le lien de la version.</small>
                        </div>
                        <div class="field">
                            <label for="lienCodeSource">Lien Source</label>
                            <input type="text" pInputText id="lienCodeSource" [(ngModel)]="singleObject.lastVersion.lienCodeSource" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !singleObject.lastVersion.lienCodeSource}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.lastVersion.lienCodeSource">Veuillez saisir le lien de la version.</small>
                        </div>
                        <div class="field">
                            <label for="logo">Logo</label>
                            <input type="text" pInputText id="logo" [(ngModel)]="singleObject.lastVersion.logo" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !singleObject.lastVersion.logo}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.lastVersion.logo">Veuillez saisir le logo de la version.</small>
                        </div>
                        <div class="field">
                            <label for="dateInscription">Date de inscription</label>
                            <p-calendar [(ngModel)]="singleObject.lastVersion.dateInscription"></p-calendar>
                        </div>
                        <div class="field">
                            <label for="taille">Taille</label>
                            <p-inputNumber inputId="integeronly" [(ngModel)]="singleObject.lastVersion.taille"> </p-inputNumber>
                        </div>
                        <div class="field">
                            <label for="lienDoc">Lien Source</label>
                            <input type="text" pInputText id="lienDoc" [(ngModel)]="singleObject.lastVersion.lienDoc" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !singleObject.lastVersion.lienDoc}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.lastVersion.lienDoc">Veuillez saisir le lien de la version.</small>
                        </div>
                        <div class="field">
                            <label for="localUrl">Locale URL</label>
                            <input type="text" pInputText id="localUrl" [(ngModel)]="singleObject.lastVersion.localUrl" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !singleObject.lastVersion.localUrl}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !singleObject.lastVersion.localUrl">Veuillez saisir le localUrl de la version.</small>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveSingleObject()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="flagSingleObjectDeleteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="singleObject">Veuillez confirmer la suppression du logiciel <b>{{singleObject.libelle}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="flagSingleObjectDeleteDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>


        <p-dialog [(visible)]="commentDialog" [style]="{width: '550px'}" header="Ajouter un commentaire" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="description">Votre commentaire</label>
                    <textarea id="libelle" pInputTextarea [(ngModel)]="commentaire.libelle" rows="6" cols="20"></textarea>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Commenter" icon="pi pi-check" class="p-button-text" (click)="commenter()"></button>
            </ng-template>
        </p-dialog>


        <p-dialog [(visible)]="commentViewDialog" [style]="{width: '550px'}" header="Commentaires" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content" >
                <div class="field" *ngFor="let comment of commentaires">
                    <p> {{comment.libelle}}</p><br><hr>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
