<div class=" surface-0 flex justify-content-center width:200">
    <div id="home" class="landing-wrapper overflow-hidden w-full">
        <div class="header bg-red-300 border-bottom-5 border-green bg-no-repeat "  style="background-image:url('assets/images/sill_caroussel23.png'); background-size: cover; " > <!-- Jaune sill_caroussel23 -->
            
            <div
                class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static">
                <a class="flex align-items-center" href="#">
                </a>
                <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
                    leaveToClass="hidden" [hideOnOutsideClick]="true">
                    <i class="pi pi-bars text-4xl"></i>
                </a>
                <button pButton pRipple type="button" label="Se connecter" class=" p-button-primary p-button-rounded" (click)="btnLogin();"></button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 flex h-8rem mt-0"
    style="background-image: url('assets/images/SILLBANN206.png'); background-size: cover; background-position: center">

</div>




<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">Socle Interministériel des </span>
        <span class="text-blue-600">Logiciels Libres</span>
    </div>
    <h4 class="text-700 mb-6">
        Le Socle Interministériel des Logiciels Libres (SILL) est une initiative au Burkina Faso visant à recommander et promouvoir
         l'utilisation de logiciels libres au sein de l'administration publique. Il s'agit d'un ensemble de logiciels informatiques
          open source qui sont approuvés pour être utilisés par les ministères et institutions gouvernementales. L'objectif principal
           du SILL est de standardiser l'utilisation de ces logiciels afin de favoriser l'interopérabilité, de réduire les coûts associés
            aux licences de logiciels propriétaires et de promouvoir la transparence dans l'utilisation des technologies de l'information
             au sein du gouvernement.</h4>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Classification</div>
            <span class="text-700 line-height-3">Les outils sont catégorisés et classés selon des groupes thématiques spécifiques.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Sécurité</div>
            <span class="text-700 line-height-3">Les logiciels proposés sont sécurisés et des tests de sécuité ont été effectué pour s'en assurer.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Utilisabilité</div>
            <span class="text-700 line-height-3">Les logiciels du socle interministériel sont déjà prêts à l'emploi.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-globe text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Accessibilité</div>
            <span class="text-700 line-height-3">Les outils sont disponibles et accessibles partout et à tout moment.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-github text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Liberté</div>
            <span class="text-700 line-height-3">Tous les outils proposés sont libres de droits et d'utilisation.</span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Vérification</div>
            <span class="text-700 line-height-3">Les outils ont été vérifié et validés en amont pour chaque groupe thématique par des administrateurs.</span>
        </div>
    </div>
</div>


<div id="features" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <h5>Liste des logiciels libres recommandés</h5>

                <p-dataView #dv [value]="logiciels" [paginator]="true" [rows]="12" filterBy="libelle"
                    [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                    <ng-template pTemplate="header">
                        <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                            <p-dropdown [options]="sortOptions" placeholder="Trier"
                                (onChange)="onSortChange($event)"></p-dropdown>

                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="search" pInputText placeholder="Rechercher" (input)="onFilter(dv, $event)">
                            </span>
                            <!-- <p-dataViewLayoutOptions></p-dataViewLayoutOptions> -->
                        </div>
                    </ng-template>

                    <ng-template let-logiciel pTemplate="gridItem">
                        <div class="col-12 md:col-4 border-green-900 shadow-1 ">
                            <a href="#" class="text-color" (click)="openDetail()">
                                <div class="card m-3 border-1 surface-border">
                                    <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                                        <div class="flex align-items-center">
                                            <!--<i class="pi pi-tag mr-2"></i>-->
                                            <p class="text-center">
                                                <span class=" font-semibold bg-orange-200 border-round px-2">{{
                                                    logiciel.lastVersion?.licence?.libelle
                                                    }}</span>
                                                <br>
                                                <span class="font-semibold bg-blue-200 border-round px-2">{{
                                                    logiciel.editeur?.libelle
                                                    }}</span>
                                            </p>
                                        </div>
                                        <span class="font-semibold bg-yellow-200 border-round px-2 text-overflow">{{
                                            logiciel?.categorie?.libelle }}</span>

                                            <!--
                                    <span
                                        [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                                    -->
                                    </div>
                                    <div class="flex flex-column align-items-center text-center mb-3">
                                        <img width="200" height="200" [src]="logiciel.logoUrl" [alt]="logiciel.libelle"
                                            class="border-round p-1 w-9 shadow-none my-3 mx-0" />
                                        <div class="text-2xl font-bold text-green-500">{{ logiciel.libelle }}</div>
                                        <div class="mb-3 " heigth="10" title="{{ logiciel.description }}">{{
                                            logiciel.description |
                                            slice:0:30}}
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-between">
                                        <span class="text-2xl font-semibold"> {{
                                            logiciel.lastVersion?.libelle
                                            }} <em class="text-xs bg-green-100 border-round px-2">{{
                                                logiciel.lastVersion?.datePublication
                                                | date }}</em>
                                        </span>

                                        <a [href]="logiciel.telechargementUrl" target="_blank">
                                            <p-button icon="pi pi-download" label="Telecharger"
                                                class="p-button-text p-button-rounded"
                                                badge="{{ logiciel.nbTelechargement }}">
                                                <!-- <p-badge [value]="logiciel.nbTelechargement" class=""></p-badge> -->
                                            </p-button>
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
        </div>

        <p-dialog [(visible)]="detailViewDialog" [style]="{width: '850px'}" header="Détail du logiciel [x]" [modal]="true">
            <ng-template pTemplate="content" >
                <p>Descriptoon du logiciel avec les autres infoc tels les versions et les nombres de téléchargement</p>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>




<!-- footer -->
<p-panel header="Coonectez-vous avec nous sur les réseaux sociaux:" align="center">
    <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" >
                <a href="https://www.facebook.com/www.mdenp.gov.bf/?locale=fr_FR" target="_blank"><span class="pi pi-facebook"></span></a>
            </button>
    </ng-template>
    <div class="flex align-items-center justify-content-between">
        
        <div>
            <img src="https://www.mdenp.gov.bf/fileadmin/user_upload/armoirie.png" alt="MTDPCE" width="200" height="200">
            <span class="block">Ministère de la Transistion Digitale, des Postes et des Communications Electroniques.</span>
        </div>
    
        <p-divider layout="vertical" ></p-divider>

        <div>
            <h5>Annuaire officiel</h5><br>
            <a href="https://www.mdenp.gov.bf/" target="_blank">Le MTDPCE</a><br>
            <a href="http://servicepublic.gov.bf/" target="_blank">Le service public</a><br>
        </div>
        
        <p-divider layout="vertical" ></p-divider>

        <div class="text-left">
            <h5>Contacts</h5><br>
            <span><i class="pi pi-home"></i> Ouagadougou, Koulouba</span><br>
            <span><i class="pi pi-at"></i> dgtic.mdenp@tic.gov.bf</span><br>
            <span><i class="pi pi-phone"></i> 25490202</span>
        </div>
        
    </div>
</p-panel> 
 <!-- Copyright -->
 <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    &copy; {{current_year}}
    <a class="text-reset fw-bold" href="https://www.mdenp.gov.bf/accueil" target="_blank">Ministère de la Transition Digitale, des Postes et des Communications Électroniques. </a>
    Tous droits réservés. 
  </div>
  <!-- Copyright -->

